$primary-color: grey;

body {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    align-items: center;
    justify-content: space-around;
    background-color: black;

    ul {
        display: flex;   
    }

    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 12px;
        padding: 5px;
    }
}

.landing-area {
    img {
        display: flex;
        border-radius: 50%;
        width: 40%;
        margin: auto;
        margin-top: 3.5em;
        padding: 10px;
    }

    .content {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: space-evenly;

        .name {
            font-weight: 800;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            span {
                font-size: 20px;
            }
        }
    }
}

.chatbot-container {
    position: fixed;
    display: flex;
    right: 10px;
    bottom: 10px;
    width: 18%;
    height: 25px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 230, 0);
    font-weight: bold;
    background-color: rgb(154, 3, 214);
}

@media (min-width: 500px) {

    .navbar {    
        background-color: black;
        text-align: center;

        ul {
            display: flex;
            
            li {
                a:hover{
                    color: chartreuse;
                }
            }
        }

        a {
            font-weight: bold;
            font-size: 20px;
            padding: 20px;
            padding-top: 10px;
            padding-bottom: 10px;

            
        }
    }

    .landing-area {
        display: flex;
        padding: 10px;
        height: 100vh;
        
        img {
            margin-top: auto;
            margin-bottom: auto;
            width: 30%
        }

        .content {
            flex-direction: column;
            align-items: stretch;

            .name {
                font-size: 30px;
                margin-top: 20px;
                margin-bottom: 20px;
                justify-content: center;

                span {
                    font-size: 40px;
                }

                span:hover {
                    color: rgb(62, 99, 26);
                }
            }
        }

    }

    .chatbot-container {
        width: 10%;
    }
}