$primary-color: grey;

body {
    background-color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    align-items: center;
    justify-content: space-around;
    background-color: black;

    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 15px;
        padding: 5px;
    }
}

.landing-area {
    img {
        display: flex;
        border-radius: 50%;
        width: 40%;
        margin: auto;
        margin-top: 30px;
        padding: 10px;
    }

    .content {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: space-evenly;
    }
}

.chatbot-container {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 20%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    color: red;
    background-color: black;
}

@media (min-width: 500px) {
    .landing-area {
        display: flex;
        padding: 10px;
        
        .content {
            display: flex;
            // margin-top: 80px;
            flex-direction: column;
            align-items: left;
            justify-content: space-evenly;

            span:hover {
                color: blueviolet;
            }
        }

        img {
            width:30%
        }
    }
}